@model IReadOnlyList<StudentMeal.Domain.Student>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var student in Model) {
    <div class="mdl-card mdl-shadow--4dp" style="margin:16px;">
        <div class="mdl-card__title">
            @student.Name
        </div>
        <div class="mdl-card__supporting-text">
            <p>@student.Email</p>
            <p>@student.PhoneNumber</p>
        </div>
    </div>
}