.mdl-layout .mdl-layout__header-row .mdl-navigation__link:last-of-type {
    padding-right: 0;
}

.mdl-layout__header {
    display: flex !important;
}

.mdl-layout {
    background-color: #EEEEEE;
}

.page-content {
    padding: 8px 32px;
}

.mdl-card {
    margin: 16px;
}

hr {
    border: none;
    background: rgba(0, 0, 0, 0.05);
}

.mdl-button--fab_bottomright {
    position: fixed !important;
    bottom: 32px !important;
    right: 32px !important;
}

.mdl-button--fab {
    z-index: 50;
}

.mdl-layout .mdl-layout__header,
.mdl-layout .mdl-layout__drawer-button {
    color: white;
}