@model string

<span class="mdl-chip mdl-chip--contact">
    <span class="mdl-chip__contact mdl-color--light-green mdl-color-text--black">@Model[0]</span>
    <span class="mdl-chip__text">@Model</span>
</span>