@model StudentMeal.Domain.Meal

<div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        @Model.Name
    </div>
    <div class="mdl-card__supporting-text">
        <p>
            <strong>Kok</strong>
            <br>
            <partial name="_ContactChip" model="Model.Cook.Name" />
        </p>

        <p>
            <strong>Aantal gasten</strong>
            <br>
            @Model.GuestCount (max. @Model.MaxGuests)
        </p>
    </div>
</div>